
<div class="container mt-4">
  <div class="form-container rounded p-4 shadow">
    <h2 class="text-center">Languages</h2>
    <br>
    <form [formGroup]="languagesForm" (ngSubmit)="onSubmit()">
      
      <!-- Languages -->
      <div formArrayName="languages">
        <div *ngFor="let lang of languages.controls; let i = index" [formGroupName]="i" class="mb-3">
          <div class="mb-3">
            <label for="name{{i}}" class="form-label">Language Name</label>
            <input 
              type="text" 
              id="name{{i}}" 
              formControlName="name" 
              class="form-control" 
              placeholder="Enter language name"
            >
          </div>
          <div class="mb-3">
            <label for="level{{i}}" class="form-label">Proficiency Level</label>
            <input 
              type="text" 
              id="level{{i}}" 
              formControlName="level" 
              class="form-control" 
              placeholder="Enter proficiency level"
            >
          </div>
          <div class="mb-3">
            <label for="description{{i}}" class="form-label">Description</label>
            <textarea 
              id="description{{i}}" 
              formControlName="description" 
              class="form-control" 
              placeholder="Enter language description"
            ></textarea>
          </div>
          
          <button type="button" class="btn btn-danger" (click)="removeLanguage(i)">Remove</button>
        </div>
      </div>

      <button type="button" class="btn btn-primary" (click)="addLanguage()">Add Language</button>
      <button type="submit" class="btn btn-success w-100 mt-3" [disabled]="languagesForm.invalid">Save</button>
    </form>
  </div>
</div>
