<div class="resume-container">
    <div class="left-section">
        <div class="personal-info">
            <div class="picture-container">
                
                <img
                    src="https://www.shutterstock.com/shutterstock/photos/548848999/display_1500/stock-vector-man-in-the-shirt-and-tie-businessman-avatar-or-male-face-icon-vector-illustration-548848999.jpg"
                    alt="John Doe"
                    class="profile-pic">
               
            </div>
            
                <h2>Bhagyesh Deore</h2>
                <p>Mumbai, India </p>
                <p>9146480034</p>
                <p>bhageshdeore123gmail.com</p>
                
                
            
            
        </div>
    </div>
    <div class="right-section">
        <!-- Right section content goes here -->
    </div>
</div>
